/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --default-color: #db00ff;
  --accent-color: rgb(255, 0, 112);
  --main-text-color: #F1B2CE;
  --accent-text-color: #000028;
  --secondary-accent-text-color: rgb(255, 0, 112);
  --border-color: rgba(255, 0, 112, .4);
}
