/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --default-color: #DB00FF;
  --accent-color: rgb(255, 0, 112);
  --default-font-family: 'IBM Plex mono';
  --default-font-size: 18px;
}
